.point {
    fill: #000;
    fill-opacity: 0.4;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.chart rect {
    fill: black;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.point--scanned {
    fill: orange;
    fill-opacity: 1;
    stroke: orange;
    stroke-width: 3px;
}

.point--selected {
    fill: red;
    fill-opacity: 1;
    stroke: red;
    stroke-width: 5px;
}

.node {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}



.vertical-text {
    transform: rotate(-90.0deg);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
