@using TryAgain.Models
@model  TryAgain.Models.searchComment
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Csubmit").click(function () {
            $('#searchCommentForm').submit();

        })
    });

    function changeCDate()
    {
        var z = $("#Cdate").val();
        var x = $("#Ctext").val();
        var y = $("#Ccommenter").val();
        if ((x == "" && y == "" && z == "") || (x == "" && z == "") || (y == "" && z == "")) {
            document.getElementById("Csubmit").disabled = true;
        }
        else {
            document.getElementById("Csubmit").disabled = false;
        }


    };
</script>



@using (Html.BeginForm("SearchComment", "Home", new { date = Model.date, text = Model.Text, commentor = Model.commentor } , FormMethod.Post, new { id = "searchCommentForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "mdl-textfield__input", type = "text", id = "Ctext", onchange = "changeCDate()" } })
        <!--<input class="mdl-textfield__input" type="text" id="searchSample Ptitle" onchange="changePDate()">-->
        <label class="mdl-textfield__label" for="searchSample">  FreeText</label>
    </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.EditorFor(model => model.commentor, new { htmlAttributes = new { @class = "mdl-textfield__input", type = "text", id = "Ccommenter", onchange = "changeCDate()" } })
            <!--<input class="mdl-textfield__input" type="text" id="searchSample Pauthor" onchange="changePDate()">-->
            <label class="mdl-textfield__label" for="searchSample">Commenter</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "mdl-textfield__input", type = "datetime", id = "Cdate", onchange = "changeCDate()" } })
            <!-- <input class="mdl-textfield__input" type="datetime" id="searchSample Pdate" onchange="changePDate()">-->
            <label class="mdl-textfield__label" for="searchSample"> Comment date</label>
        </div>
        <br />
        <div>
            <button class="mdl-button mdl-js-button" id="Csubmit" disabled>
                <!--onclick="javascript:document.getElementById('searchPostForm').submit()">-->
                search
            </button>
        </div>

}
